# PostgreSQL
POSTGRES_USER=denarius
POSTGRES_PASSWORD=denarius
POSTGRES_DB=denarius

# Backend
PORT=8080
DATABASE_URL=postgres://denarius:denarius@db:5432/denarius?sslmode=disable

# Frontend
BACKEND_PATH=http://backend:8080

# pgAdmin
PGADMIN_EMAIL=admin@denarius.com
PGADMIN_PASSWORD=admin